/* ==========================================================================
   Media Queries

   - Mobile
   - Tablets
   ========================================================================== */


/* Mobile
   ========================================================================== */

@media screen and (max-width: $breakpoint-1-max-width) {

  body {
    padding: 2rem;
  }

  h1,
  p {
    font-size: $font-size-2;
  }

}



/* Tablet
   ========================================================================== */

@media (min-width: $breakpoint-2-min-width) {

  body {
    padding: 4rem;
  }

  h1,
  p {
    font-size: $font-size-1;
  }

}
