/* ==========================================================================
   Site styles
   ========================================================================== */

body {
  -webkit-font-smoothing: antialiased;
  font-family: "runda", sans-serif;
  background-color: $white;
  padding: 32px;
}

header {
  margin: 0;
  h1 {
    color: $near-black;
    font-weight: 500;
    // -webkit-font-smoothing: antialiased;
  }
  a {
    color: $near-black;
    text-decoration: none;
    &:hover {
      color: $blue;
    }
  }
}