/* ==========================================================================
   Site styles
   ========================================================================== */

body {
  // -webkit-font-smoothing: antialiased;
  font-family: "freight-sans-pro", sans-serif;
  background-color: $white;
  padding: 64px;
}

header {
  margin: 0 0 64px 0;
  h1 {
    color: $near-black;
    font-weight: 700;
    // -webkit-font-smoothing: antialiased;
    margin: 0;
  }
  a {
    color: $blue;
    text-decoration: none;
  }
}

section {
  margin: 0 0 32px 0;
  h2 {
    color: $gray-medium;
    margin: 0 0 32px 0;
    text-transform: uppercase;
  }
  ul {
    font-size: $font-size-3;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      margin: 0 0 16px 0;
    }
  }
  a {
    font-weight: 400;
    color: $gray-medium;
    text-decoration: none;
    &:hover {
      color: $blue;
    }
  }
}