* { box-sizing: border-box; }

html,
body {
  margin: 0;
  height: 100%;
}

body {
  padding: 2rem;
  font-family: -apple-system, sans-serif;
  font-size: 1.375rem;
  font-weight: 300;
  color: #aaa;
  background-color: #222;
}

h1,
p {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: currentColor;
  text-decoration: none;
}
a:hover {
  color: #fff;
}

.header {
  position: relative;
  margin-bottom: 1em;
  color: #fff;
}
.myface {
  position: absolute;
  font-size: 1.75rem;
  top: 0;
  left: -200%;
}

.info {
  font-size: 1.25rem;
}

.links {
  padding: 0;
  list-style: none;
}

.links-link {
  display: inline-block;
}
