* { box-sizing: border-box; }

html,
body {
  min-width: 100%;
  min-height: 100vh;
  margin: 0;
}

body {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  padding: 1rem;
  font-family: 'Inconsolata', Menlo, monospace;
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
}

a {
  color: currentColor;
}
a:hover {
  background-color: #333;
  color: #fff;
  text-decoration: none;
}


header {
  text-align: center;
}
header h1 {
  margin: 0;
  font-size: 1.125rem;
  font-weight: 700;
}
header p {
  font-size: 1.125rem;
  color: #888;
}


.links {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  -webkit-flex-wrap: wrap;
  padding: 0;
  max-width: 14rem;
  list-style: none;
  font-size: .875rem;
  color: #888;
}
.links li {
  padding: .125rem .375rem;
}
