* { box-sizing: border-box; }

html,
body {
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem;
  font-size: 1rem;
  font-family: 'roboto mono', monospace;
  line-height: 1.4;
  color: #222;
  background-color: #fff;
}

h1,
p {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: currentColor;
  text-decoration: none;
}
a:hover {
  color: #FF504C;
}

.header {
  margin-bottom: 1.5em;
}
.face {
  position: absolute;
  font-size: 2rem;
  top: 1.5rem;
  left: 1.5rem;
}

.about {
  margin-bottom: 1.5em;
}

.links {
  margin: 0;
  padding: 0;
  list-style: none;
}

.links-link {
  display: inline-block;
}
